.a1-c1{
    background-image: linear-gradient(to bottom left, #01adc0, rgb(188, 227, 230));
    height: 100vh;
    
}
.a1-c11{
    background:linear-gradient(45deg,rgb(1, 151, 123),#fff);
    padding:30px;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    box-shadow: 10px 10px 50px rgb(2, 131, 122);
}


.a1-f11{
    background:linear-gradient(45deg,#87d6c9,#fff);
    height: 40px;
    width: 20vw;
    border:0;
    border-radius: 10px;
    color: #06608de3;
    padding-left: 10px;
    margin-bottom: 10px;
}